<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hufman.androidautoidrive">

    <!-- Sentry wants to know when we're only to send any uploads -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
    </application>
</manifest>