[submodule "IDriveConnectKit"]
	path = IDriveConnectKit
	url = https://github.com/hufman/IDriveConnectKit.git
[submodule "IDriveConnectKitAndroid"]
	path = IDriveConnectKitAndroid
	url = https://github.com/hufman/IDriveConnectKitAndroid.git
[submodule "completely_wordlist"]
	path = completely_wordlist
	url = https://github.com/hufman/completely_wordlist.git
