*.iml
.gradle
/local.properties
/.idea/gradle.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
sentry.properties
_site
.sass-cache