*.iml
.gradle
/local.properties
/.idea/gradle.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/compiler.xml
/.idea/jarRepositories.xml
.DS_Store
/build
/captures
/external
/app/src/main/assets/carapplications
/app/src/test/resources/*.xml
.externalNativeBuild
sentry.properties
_site
.sass-cache
spotify-app-remote/build