*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
/external
/app/src/main/assets/carapplications
/app/src/test/resources/*.xml
.externalNativeBuild
sentry.properties
_site
.sass-cache
spotify-app-remote/build