<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.hufman.androidautoidrive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SetupActivity">
        </activity>

        <service android:name=".MainService"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="me.hufman.androidautoidrive.MainService.start" />
                <action android:name="me.hufman.androidautoidrive.MainService.stop" />
            </intent-filter>
        </service>

        <receiver android:name=".CarConnectionListener">
            <intent-filter>
                <action android:name="com.bmwgroup.connected.accessory.ACTION_CAR_ACCESSORY_ATTACHED" />
                <action android:name="com.bmwgroup.connected.accessory.ACTION_CAR_ACCESSORY_DETACHED" />
                <action android:name="me.hufman.androidautoidrive.CarConnectionListener_START" />
                <action android:name="me.hufman.androidautoidrive.CarConnectionListener_STOP" />
            </intent-filter>
        </receiver>

        <receiver android:name=".MainActivity$CustomActionListener" />

        <service android:name=".carapp.notifications.NotificationListenerServiceImpl"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="me.hufman.androidautoidrive.CarAPIAssetProvider"
            android:exported="true"
            android:authorities="me.hufman.androidautoidrive.provider"
            android:grantUriPermissions="true" />

    </application>

    <permission android:label="@string/permlab_accessNotifications" android:name="android.permission.ACCESS_NOTIFICATIONS" android:description="@string/permdesc_accessNotifications" />
    <permission android:label="@string/permlab_bindNotificationListenerService" android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:description="@string/permdesc_bindNotificationListenerService" />
    <permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>