<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.hufman.androidautoidrive">

    <!-- Google Play doesn't allow READ_SMS -->
    <uses-permission android:name="android.permission.READ_SMS" tools:node="remove" />
	
	<!-- Google Play doesn't allow QUERY_ALL_PACKAGES -->
	<!-- https://support.google.com/googleplay/android-developer/answer/10158779?hl=en -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:node="remove" />

    <application>
    </application>
</manifest>