<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service android:name=".carapp.maps.MapAppService" android:exported="false">
            <intent-filter>
                <action android:name="me.hufman.androidautoidrive.carconnection.service" />
            </intent-filter>
        </service>

        <service android:name=".MapTestingService"
            android:label="@string/lbl_map_testing"
            android:exported="false"
            android:foregroundServiceType="dataSync">

            <intent-filter>
                <action android:name="me.hufman.androidautoidrive.MapTestingService.start" />
                <action android:name="me.hufman.androidautoidrive.MapTestingService.stop" />
            </intent-filter>
        </service>
    </application>
</manifest>